 table {
    padding: 10px;
    border-radius: 5px;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: darkblue;
 }

 .display-box {
    background-color: gray;
    border: solid black 1px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
 }

 #btn {
    background-color: red;
 }

 input[type=button] {
    background-color: purple;
    color: white;
    border: solid black;
    width: 100%;
    border-radius: 5px;
    height: 70%;
 }

 input:active[type=button] {
    background-color: white;
 }
